In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
# Runs on cdk

import os 
import pandas as pd 
from tqdm import tqdm
import random

In [5]:
dataset_name = "experiment-cx1000_cxsmiles"
edited_dataset_name = "experiment-cx1001_cxsmiles"

In [7]:
dataset = pd.read_csv(os.getcwd() + f"/../../data/smiles/{dataset_name}.csv")
dataset

,Unnamed: 0,id,cxsmiles
0,3362940,0,O=C1C[N+](=O)CO1 |$;;;;;;R$|
1,3362941,1,"N#CC1(C#N)CCCO1.CN=N |$;;;;;;;;;;;$,m:9:2.5.6...."
2,3362942,2,O=C1C=Cc2ccc3occc3c21.CC.CC.CC |$;Ry;;;;;Rk;Rx...
3,3362943,3,"CC(C)C1(C(C)C)C=CCCO1 |$;;Y';;M4;;;;;;;$,Sg:n:..."
4,3362944,4,CC1CC(O)C(O)C2(CCCCO2)O1 |$R7;;;L5;;;;;;;;;;$|
...,...,...,...
3261456,6624396,3261456,N#CCCc1ccc2sc(SN)nc2c1Cc1ccccc1 |$;Rm;;X1;;;;;...
3261457,6624397,3261457,NSc1nc2c(Cc3cccc(Cc4cccc5sc(SN)nc45)c3)cccc2s1...
3261458,6624398,3261458,CCCCCCCCc1cccc2sc(SN)nc12 |$;;;;;;;;;;;;;;;;;;...
3261459,6624399,3261459,CC(C)(c1cccc(C(C)(C)c2cccc3sc(SN)nc23)c1)c1ccc...
3261460,6624400,3261460,COCCCc1cccc2sc(SN)nc12.CSP(C)(C)=O |$;;;Q;;;;;...

### Replace ' with ''

In [12]:
quotes_to_double_quotes_replacement_proportion = 0.4
new_cxsmiles_list = []
for i, row in tqdm(dataset.iterrows(), total=len(dataset)):
    if "'" in row["cxsmiles"]:
        if random.random() < quotes_to_double_quotes_replacement_proportion:
            cxsmiles = row["cxsmiles"].replace("'", "''")
            #print(row["cxsmiles"], cxsmiles)
            new_cxsmiles_list.append(cxsmiles)
            continue
    new_cxsmiles_list.append(row["cxsmiles"])

100%|██████████| 3261461/3261461 [03:11<00:00, 17024.01it/s]

In [ ]:
dataset["cxsmiles"] = new_cxsmiles
dataset.to_csv(os.getcwd() + f"/../../data/smiles/{edited_dataset_name}.csv")